/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row {
  height: 1400px;
}

/* gray background color for navigation */
.sidenav {
  background-color: #F3F3F3;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: 1400px;
    padding: 15px;
  }
}

/* gray background color for graph area */
.graph {
  background-color: #F7F7F7;
}

/* TNO blue */
.color-primary{color:#649EC9}

h3 {
  font-size: 24px;
  font-weight: bold;
}

#plotdiv {
  position: relative;
  top: 15px;
  left: -15px;
  width: 785px;
  height: 785px;
  background-color: #F7F7F7;
/*  border-style: dotted;
    border-width: 1px; */
}

#footer {
    text-align: left;
    padding-left: 10px;
}

#chartcode {
  font-size: 14px;
  position: relative;
  text-align: left;
  border: medium solid #649EC9;
  border-style: none none solid none;
}

/* set color for ionrangeslider to color-succes */
.irs--round .irs-handle>i:first-child {
    background-color: #18BC9C;
}
.irs--round .irs-bar {
    background-color: #18BC9C;
}
.irs--round .irs-handle { /* smaller handle */
    background-color: #18BC9C;
    border:4px solid #18BC9C;
    border-radius:18px;
    width:18px;
    height:18px;
    top: 28px;
}

.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
    background-color: #18BC9C;
}
.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
    border-top-color: #18BC9C;
}
