/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 800px;
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #F3F3F3;
  height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}

/* Set gray background color and 100% height */
.graph {
  background-color: #F7F7F7;
  height: 100%;
}

/* TNO blue */
.color-primary{color:#649EC9}

h3 {
  font-size: 24px;
  font-weight: bold;
}

#plotdiv {
  position: relative;
  top: 15px;
  left: -15px;
  width: 785px;
  height: 785px;
  background-color: #F7F7F7;
/*  border-style: dotted;
    border-width: 1px; */
}

#footer {
    text-align: left;
    padding-left: 10px;
}

#chartcode {
  font-size: 14px;
  position: relative;
  text-align: left;
  border: medium solid #649EC9;
  border-style: none none solid none;
}

/* color for ionrangeslider */
.irs--flat .irs-handle>i:first-child {
    background-color: #4CA86C;
}
.irs--flat .irs-bar {
    background-color: #4CA86C;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    background-color: #4CA86C;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
    border-top-color: #4CA86C;
}
