/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 800px;
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #F3F3F3;
  height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}

/* Set gray background color and 100% height */
.graph {
  background-color: #F7F7F7;
  height: 100%;
}

/* TNO blue */
.color-primary{color:#649EC9}

.footerrow{
  height: 20px;
  background-color: #649EC9;
  color: white;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}


#plotdiv {
  position: relative;
  top: 15px;
  left: -15px;
  width: 785px;
  height: 785px;
  background-color: #F7F7F7;
/*  border-style: dotted;
    border-width: 1px; */
}

#plotcontainer {
  width: 800px;
}

#navcontainer {
  width: 800px;
}

#footer {
    text-align: left;
    padding-left: 10px;
}

#chartcode {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  background-color: #C7C7C7;
  font-weight: bold;
  position: relative;
  bottom: 15px;
  text-align: center;
}

